.labelright {
	text-align: right;
	margin-right: 10px; 
}
.formTitle {
	background-color: darkblue;
	color: white;
}
:host([legend]) { border: 1px solid; }
:host::before {	
    content: attr(legend);
    top: -14px;
    position: relative;
    background: white;
    left: 4px;
}
.onlyButtons {
	overflow: hidden;
}
:host(.editable-custom-effect) [part~="editable-cell"]:hover,
:host(.editable-custom-effect) [part~="editable-cell"]:focus {
  background: var(--lumo-contrast-10pct);
}

:host(.editable-custom-effect) [part~="editable-cell"] {
  background: var(--lumo-contrast-5pct);
}  .editable {
    background-color: #b1ffb7;
}
	
