
:host(.formMargin0) {
	margin-top: 0px;
}
:host(.formMargin50) {
	margin-top: 10px;
}
:host(.formMargin100) {
	margin-top: 50px;
}
:host(.formMargin150) {
	margin-top: 110px;
}
:host(.formMargin200) {
	margin-top: 16px;
}
:host(.formMargin250) {
	margin-top: 210px;
}
:host(.formMargin300) {
	margin-top: 260px;
}
:host(.formMargin350) {
	margin-top: 310px;
}
:host(.formMargin400) {
	margin-top: 370px;
}
:host(.formMarginL0) {
	margin-left: 0px;
}
:host(.formMarginL10) {
	margin-left: 10px;
}
:host(.formMarginL20) {
	margin-left: 20px;
}
:host(.formMarginL30) {
	margin-left: 30px;
}
:host(.formMarginL50) {
	margin-left: 50px;
}
:host(.formMarginL100) {
	margin-left: 100px;
}
:host(.formMarginL150) {
	margin-left: 150px;
}
:host(.formMarginL200) {
	margin-left: 200px;
}
:host(.formMarginL250) {
	margin-left: 250px;
}
:host(.formMarginL300) {
	margin-left: 300px;
}
:host(.formMarginL350) {
	margin-left: 350px;
}
:host(.formMarginL400) {
	margin-left: 400px;
}
:host(.formMarginL400) {
	margin-left: 400px;
}
:host(.fieldGroupPaddingL0) {
	padding-left:0px;
}
:host(.fieldGroupPaddingL5) {
	padding-left:5px;
}
:host(.fieldGroupPaddingL10) {
	padding-left:10px;
}
:host(.fieldGroupPaddingL20) {
	padding-left:20px;
}
:host(.fieldGroupPaddingB0) {	
	padding-bottom:0px;
}
:host(.fieldGroupPaddingB5) {	
	padding-bottom:5px;
}
:host(.fieldGroupPaddingB10) {	
	padding-bottom:10px;
}
:host(.fieldGroupPaddingB20) {	
	padding-bottom:20px;
}
:host(.fieldGroupPaddingB30) {	
	padding-bottom:30px;
}
:host(.fieldGroup10) {
	padding-left:20px;
	padding-bottom:10px;
}
:host(.fieldGroup20) {
	padding-left:20px;
	padding-bottom:20px;
}			
:host([legend]) { border: 1px solid; }
:host::before {	
    content: attr(legend);
    position: relative;
	top: -25px;
	background: #f0f0f0;
	left: 4px;
}
	
