
:host(.formMargin0) {
	margin-top: 0px;
}
:host(.formMargin50) {
	margin-top: 10px;
}
:host(.formMargin100) {
	margin-top: 50px;
}
:host(.formMargin150) {
	margin-top: 110px;
}
:host(.formMargin200) {
	margin-top: 16px;
}
:host(.formMargin250) {
	margin-top: 210px;
}
:host(.formMargin300) {
	margin-top: 260px;
}
:host(.formMargin350) {
	margin-top: 310px;
}
:host(.formMargin400) {
	margin-top: 370px;
}
:host(.formMarginL0) {
	margin-left: 0px;
}
:host(.formMarginL10) {
	margin-left: 10px;
}
:host(.formMarginL20) {
	margin-left: 20px;
}
:host(.formMarginL30) {
	margin-left: 30px;
}
:host(.formMarginL50) {
	margin-left: 50px;
}
:host(.formMarginL100) {
	margin-left: 100px;
}
:host(.formMarginL150) {
	margin-left: 150px;
}
:host(.formMarginL200) {
	margin-left: 200px;
}
:host(.formMarginL250) {
	margin-left: 250px;
}
:host(.formMarginL300) {
	margin-left: 300px;
}
:host(.formMarginL350) {
	margin-left: 350px;
}
:host(.formMarginL400) {
	margin-left: 400px;
}
:host(.formMarginL400) {
	margin-left: 400px;
}
:host([legend]) { border: 1px solid; }
:host::before {	
    content: attr(legend);
    top: -14px;
    position: relative;
    background: white;
    left: 4px;
}
	
